/* Navigation Items */
.navigation {
    width: 1920px;
    height: 105px;
    left: 0px;
    right: 0px;
    top: 0px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url("../Images/navBkg.png");
    background-repeat: no-repeat;
    background-size: 1920px 105px;      
}
.navigationItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 370px;
    margin-right: 370px;
    width: 1180px;
    
}
.logo {
    width: 75.8px;
    height: 65px;
    
}
.topNav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0px; 
    width: 280px;
    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.nav-Links {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.navItem {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #ffffff;
}
.navLink {
    width: 80px;
    height: 40px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    cursor: pointer;
}
.navLink:hover ul, :focus ul {
  opacity: 1;
  visibility: visible;
}
.navLink-Work::after {
  content:"";
  width: 0%;
  height: 5px;
  border-radius: 7px;
  position: absolute;
  left: 20px;
  bottom: 12px;
  background-color: #f26b76;
  transition: width 200ms ease-in;
}
.navLink-Work:hover::after, :focus::after {
  width: 61%;
}
.navLink-About::after {
  content:"";
  width: 0%;
  height: 5px;
  border-radius: 7px;
  position: absolute;
  left: 16px;
  bottom: 12px;
  background-color: #f26b76;
  transition: width 200ms ease-in;
}
.navLink-About:hover::after, :focus::after {
  width: 69%;
}
.navLink-Resume::after {
  content:"";
  width: 0%;
  height: 5px;
  border-radius: 7px;
  position: absolute;
  left: 10px;
  bottom: 12px;
  background-color: #f26b76;
  transition: width 200ms ease-in;
}
.navLink-Resume:hover::after, :focus::after {
  width: 85%;
}
.navDropList {
  list-style:none;
  width: 110px;
  position:absolute;
  text-align: left;
  top: 20px;
  left: -35px;
  padding: 15px 25px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color:#ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
  z-index: 1;
}
.navDropList li{
  color: #000000;
  list-style:none;
  padding: 5px;
  transition: background-color 200ms ease-in-out;
  
}
.navDropList li:hover, li:focus {
  background-color: #B3D5F2;
}

/* Hero Banner */
.hero {
    margin-top: 97px;
    position: absolute;
    width: 1920px;
    height: 300px;
    left: 0px;
    display: flex;
    background-image: url("../Images/heroBkg.png");
    align-items: center;
    justify-content: center;
}
.content {
    width: 852px;
    height: 112px;
    position: absolute;
    text-align: center;
    top: 25px;
}
.contentTitle {
    width: 852px;
    height: 56px;
}
.contentTitle h1 {
    font-family: neplus,serif;
    font-weight: 900;
    font-style: normal;
    font-size: 56px;
    line-height: 56px;
    color: #f26b76;
    -webkit-text-stroke-color: #d90404;
    -webkit-text-stroke-width: 1px;
}
.contentCopy {
    width: 852px;
    height: 46px;
}
.contentCopy p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
}

/* Portfolio Section */
.portfolioContent {
    width: 1920px;
    margin-top: 405px;
    position: absolute;
    left: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

/* Portfolio Content - Case Studies Block */
.caseStudies {
    width: 780px;
    height: 300px;
    background: #035aa6;
    border-radius: 7px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.studiesItems {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.studiesCopy {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.studiesCopy h3 {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    color: #ffffff;
    letter-spacing: 1px;
    height: 28px;
    margin: 0px;
}
.studiesCopy p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    height: 19px;
}
.studiesCopy button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 180px;
    height: 45px;
    background: #f26b76;
    border-radius: 7px;
    border: none;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.studiesCopy button:hover {
    background: #f26b76;
    border-radius: 7px;
    border: 1.5px #D90404 solid;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.studiesCopy button:active {
    background: #A6323B;
    border: none;
    border-radius: 7px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 600;
    color: #f26b76;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
}

/* Portfolio Content - Other Works Block */
.otherWorks {
    width: 780px;
    height: 300px;
    background: #f26b76;
    border-radius: 7px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.worksItems {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.worksCopy {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
}
.worksCopy h3 {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    color: #ffffff;
    letter-spacing: 1px;
    height: 28px;
    margin: 0px;
}
.worksCopy p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    height: 19px;

}
/* Button CSS for the Future
.worksCopy button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 180px;
    height: 45px;
    background: #f26b76;
    border-radius: 7px;
    border: none;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}
*/

/* Contact Me Section */
.inTouch_Headline {
    width: 780px;
    height: 56px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.inTouch_Headline h2 {
    font-family: 'roboto serif';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: #035aa6;
}

/* Contact Form */
.contactForm {
    width: 580px;
    height: 343px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.topInputs {
    width: 580px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.leftInput, .rightInput {
    width: 280px;
    height: 36px;
    display: flex;
}
.nameInput {
    width: 280px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px darkgray solid;
    border-radius: 7px;
    padding-left: 10px;
    font-family: 'roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: darkgray;
}
.emailInput {
    width: 280px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px darkgray solid;
    border-radius: 7px;
    padding-left: 10px;
    font-family: 'roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: darkgray;
}
.bottomInput {
    width: 580px;
    height: 190px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;
}
.messageInput {
    width: 580px;
    height: 190px;
    display: flex;
    align-items: center;
    border: 1px darkgray solid;
    border-radius: 7px;
    padding: 10px;
    font-family: 'roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: darkgray;
}
.contactForm button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    padding: 10px;
    width: 180px;
    height: 45px;
    background: #f26b76;
    border-radius: 7px;
    border: none;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.contactForm button:hover {
    background: #f26b76;
    border-radius: 7px;
    border: 1.5px #D90404 solid;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.contactForm button:active {
    background: #A6323B;
    border: none;
    border-radius: 7px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 600;
    color: #f26b76;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
}

/* Footer Styles */
.flexFoot {
    width: 1180px;
    height: 105px;
    position: absolute;
    top: 1918px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 370px;
}
.footerItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1180px;    
}
.footerText p {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: darkgray;
}